<div class='table-container' >
	<table class="table table-hover" >
		<th>产品编码</th>
		<th>资产</th>
		<th>支持网络</th>
		<th>系统版本</th>
		<th>分辨率</th>
		<th>数量</th>
		<th>资产人</th>
		<th>借用状态</th>
		<tr>
  			<td class="active">...</td>
  			<td class="active">...</td>
  			<td class="active">...</td>
  			<td class="active">...</td>
  			<td class="active">...</td>
  			<td class="active">...</td>
  			<td class="active">...</td>
  			<td class="active">...</td>		  
		</tr>
    </table>
    <button type="button" class="btn btn-warning" id='AddNewDeviceButton'>AddNewDevice</button>
</div>
	